/*color naranja logo: #eb8212*/

/*Eliminamos los margenes y paddings que agrega el navegador por defecto*/
* {
  padding: 0;
  margin: 0;
}

/*Agregamos margenes inferiores a los parrafos*/
p {
  margin-bottom: 20px;
}

header {
  margin-bottom: 20px;
  background: rgba(255, 254, 254, 0.9);
  width: 100%;
  position: fixed;
  z-index: 100;
}

.menu_bar {
  display: none;
}

h1,
h2 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: Arial, sans-serif;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  margin-left: 20px;
}

.plataform img {
  width: 100%;
}

/*--------------*/

nav {
  float: right; /* Desplazamos el nav hacia la izquierda */
}

nav ul {
  list-style: none;
  overflow: hidden; /* Limpiamos errores de float */
  margin-right: 30px;
  margin-top: 15px;
}

nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

nav ul li a {
  display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
  padding: 10px;
  color: #000;
  text-decoration: none;
}

nav ul li:hover {
  border-bottom: solid 2px #eb8212;
}

.btn-free {
  background: #eb8212;
}

.btn-free:hover {
  color: #fff;
  background: #ff5202;
}

.contenido {
  padding-top: 80px;
}

.wrapper {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

h3 a {
  display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
  padding: 10px;
  color: #000;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  header nav {
    background-color: #fff;
    width: 70%;
    height: 100%;
    right: -100%;
    margin: 0;
    position: fixed;
  }

  header nav ul li {
    display: block;
    float: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .menu_bar {
    display: block;
    width: 100%;
    background: #ccc;
  }

  .menu_bar .bt-menu {
    display: block;
    padding: 20px;
    background: #ccc;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .menu_bar {
    float: right;
    font-size: 40px;
    text-align: right;
  }

  h1,
  h2 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
    font-family: Arial, sans-serif;
  }
}
